.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.wideInput {
    margin-left: 2%;
    width: 95%;
}

#accountButton {
    border: none;
}

#basic-nav-dropdown {
    color: white;
    font-size: medium;
}

#genderButton {
    margin-left: 3 px;
    margin-right: 10 px;
}

#largeButtonWidth {
    width: 100%;
    margin-top: 1%;
}

#loginNav {
    margin-left: 50%;
    padding-top: 4%;
    padding-bottom: 4%;
}

#navbarPad {
    padding-top: 20%;
}

#pullRightButton {
    float: right;
    margin-top: 5px;
    margin-right: 14px;
}

#siteName {
  padding-right: 25px;
}

#failureMessage {
    color: red;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.not-logged-in {
	margin: 2em !important;
	padding: 2em !important;
	text-align: center;
}
